<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Стенд испытания пружин</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
    <!-- Подключаем CSS Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
    var udateTimer = setInterval(updateProgressbar,1000);                    
    function updateProgressbar()                 
        {
            let response = fetch("/progressbar")
            .then((response) => response.json())
            .then(
            (data) => 
            {
               $('.progress-bar').css('width', data.progress+'%').attr('aria-valuenow', data.progress);
               $('.progress-bar-label').text(data.progress+'%');
               $('.cycles_done').text(data.cycles_done);
               $('.clength').text(data.clength);
               $('.ckx').text(data.ckx);
               $('.shrink').text(data.shrink);
            }    
            )
        }
    </script>        
</head>
<body>

    <div class="container">
        <h1 class="text-center mt-3">Стенд испытания пружин</h1>
        <div class="container">
          <ul class="nav">
            <li class="nav-item"> <a class="nav-link"          href="/newtest">Новый тест</a>           </li>
            <li class="nav-item"> <a class="nav-link"          href="/setspring">Установить пружину</a> </li>
            <li class="nav-item"> <a class="nav-link"          href="/runtest">Запустить тест</a>       </li>
            <li class="nav-item"> <a class="nav-link"          href="/stoptest">Остановить</a>          </li>
            <li class="nav-item"> <a class="nav-link"          href="/mtest">измерить</a>          </li>
            <li class="nav-item"> <a class="nav-link"          href="/rtest">повернуть</a>          </li>
            <li class="nav-item"> <a class="nav-link"          href="/ktest">покрутить</a>          </li>
            <li class="nav-item"> <a class="nav-link"          href="/htest">Y домой</a>          </li>
            <!--li class="nav-item"> <a class="nav-link"          href="/ctest">заголовок</a>          </li>
            <li class="nav-item"> <a class="nav-link"          href="/stest">строчка</a>          </li-->
            <li class="nav-item"> <a class="nav-link"          href="/download">Скачать протокол</a>    </li>
            <li class="nav-item"> <a class="nav-link disabled" href="#5">Архив</a>                      </li>
            <li class="nav-item"> <a class="nav-link"          href="#6">Обновить ПО</a>                </li>
          </ul>
        </div>        
    
        <div class="progress" style="width: 100%; margin: 0px; height:20px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="progress-bar-label">0%</span>
            </div>
        </div>   
        
        <table>
        <tr>  
        <th>
        <form method="post" class="mt-6">
 
            <table class="table table-striped">
              <tbody>
                <tr class=""> <th>Номер теста</th>  <th>  {{snum}}  </th>  </tr>
                <tr class="table-active"> <th>Наименование</th>                            <th>  <input type="text"              id="sname"         name="sname"       class="form-control"    value='{{sname}}'> </th>  </tr>
                <tr class="table-active"> <th>Длина свободной пружины</th>                 <th>  <input type="number step=0.01"  id="slength"       name="slength"     class="form-control"    value={{slength}}> </th>  </tr>
                <tr class="table-active"> <th>Диаметр пружины</th>                         <th>  <input type="number step=0.01"  id="sdiameter"     name="sdiameter"   class="form-control"    value={{sdiameter}}> </th>  </tr>
                <tr class="table-active"> <th>Толщина прутка</th>                          <th>  <input type="number step=0.001" id="sdp"           name="sdp"         class="form-control"    value={{sdp}}> </th>  </tr>
                <tr class="table-active"> <th>Число витков</th>                            <th>  <input type="number step=0.01"  id="snrot"         name="snrot"       class="form-control"    value={{snrot}} > </th>  </tr>
                <tr class="table-active"> <th>Материал</th>                                <th>  <input type="text"              id="smatherial"    name="smatherial"  class="form-control"    value='{{smatherial}}'> </th>  </tr>
                <tr class="table-active"> <th>Номинальный коэфф жесткости</th>             <th>  <input type="number step=0.001" id="skxnom"        name="skxnom"      class="form-control"    value={{skxnom}}> </th>  </tr>
                <tr class="table-success"> <th>Число циклов сжатия</th>                    <th>  <input type="number"            id="cycles"        name="cycles"      class="form-control"    value={{cycles}}> </th>  </tr>
                <tr class="table-success"> <th>Число циклов сжатия между измерениями</th>  <th>  <input type="number"            id="cyclesbetween" name="cyclesbetween"  class="form-control" value={{cyclesbetween}}> </th>  </tr>
                <tr class="table-success"> <th>Частота сжатия</th>                         <th>  <input type="number step=0.01"  id="freq"          name="freq"        class="form-control"    value={{freq}}> </th>  </tr>
                <tr class="table-success"> <th>Начальное сжатие</th>                       <th>  <input type="number"            id="lmin"          name="lmin"        class="form-control"    value={{lmin}}> </th>  </tr>
                <tr class="table-success"> <th>Максимальное сжатие</th>                    <th>  <input type="number"            id="lmax"          name="lmax"        class="form-control"    value={{lmax}}> </th>  </tr>
                <tr class="table-success"> <th>Шаг измерения усилия пружины</th>           <th>  <input type="number"            id="lstep"         name="lstep"       class="form-control"    value={{lstep}} > </th>  </tr>
                <tr class="table-success"> <th>Длина поджатой пружины</th>                 <th>  <input type="number step=0.01"  id="ldistance"     name="ldistance"   class="form-control"    value={{ldistance}} > </th>  </tr>
                <tr class="table-primary"> <th>Выполнено циклов сжатия</th>                <th>  <span class="cycles_done"> {{cycles_done}}</span>  </th>  </tr>
                <tr class="table-primary"> <th>Расчетная длина пружины</th>                <th>  <span class="clength"      {{clength}}       </span>  </th>  </tr>
                <tr class="table-primary"> <th>Коэффициент жесткости</th>                  <th>  <span class="ckx"          {{ckx}}        </span>  </th>  </tr>
                <tr class="table-primary"> <th>Усадка</th>                                 <th>  <span class="shrink"       {{shrink}}     </span> </th>  </tr>
              </tbody>
            </table>        
   
            <button type="submit" class="btn btn-primary">Установить параметры</button>
 
        </form>
        </th>
        
        <th>
        test
        </th>
        <tr>
        </table>

</body>
</html>